{% extends "layout.twig" %}
{% block content %}

    <a href="/">К списку</a>
    <h1>Создание отзыва</h1>

    <form action="/review/store" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>

{% endblock %}