{% extends "layout.twig" %}
{% block content %}

<h1>Список отзывов</h1>

<table class="table">
    <tr>
        <th>Текст</th>
        <th>Автор</th>
        <th>IP</th>
        <th><a href="/?order=date&direction={% if order == 'date' %}{% if direction == 'DESC' %}ASC{% else %}DESC{% endif %}{% else %}ASC{% endif %}">
                Дата{% if order == 'date' %}{% if direction == 'DESC' %} &#x25B2; {% else %} &#x25BC;{% endif %}{% else %}{% endif %}
            </a></th>
        <th><a href="/?order=likes&direction={% if order == 'likes' %}{% if direction == 'DESC' %}ASC{% else %}DESC{% endif %}{% else %}ASC{% endif %}">
                Лайков{% if order == 'likes' %}{% if direction == 'DESC' %} &#x25B2; {% else %} &#x25BC;{% endif %}{% else %}{% endif %}
            </a></th>
    </tr>
    {% for review in reviews %}
        <tr>
            <td><div><a href="/review/view/{{ review.id }}">{{ review.text }}</a></div></td>
            <td><div>{{ review.author }}</div></td>
            <td><div>{{ review.ip }}</div></td>
            <td><div>{{ review.date }}</div></td>
            <td><div class="pull-left">{{ review.likes }}</div>
                <form class="pull-right" action="/review/like/{{ review.id }}{% if order %}?order={{ order }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" method="post">
                    <button class="btn-default" type="submit">like</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<a class="btn btn-default" href="/review/create">Создать</a>

{% endblock %}



