{% extends "layout.twig" %}
{% block content %}
    <a href="/">К списку</a>
    <h1>Детализация отзыва</h1>
    <div class="row">
        <div class="col-xs-6 col-sm-6">Автор</div>
        <div class="col-xs-6 col-sm-6">{{review.author}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6">Текст</div>
        <div class="col-xs-6 col-sm-6">{{review.text}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6">IP</div>
        <div class="col-xs-6 col-sm-6">{{review.ip}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6">Дата</div>
        <div class="col-xs-6 col-sm-6">{{review.date}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6">Количество лайков</div>
        <div class="col-xs-6 col-sm-6">{{review.likes}}</div>
    </div>

{% if prev %}<a class="btn btn-default" href="/review/view/{{ prev.id }}">Предыдущий</a>{% endif %}
{% if next %}<a class="btn btn-default" href="/review/view/{{ next.id }}">Следующий</a>{% endif %}

{% endblock %}