<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
  <div class="container">
    {% block content %}
    {%endblock%}
  </div>
</body>
</html>